aside {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}
aside > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
aside > div > img {
  height: 32px;
}
aside > div > h1 {
  color: #ffffffff;
  font-size: 28px;
}
aside > hr {
  height: 2px;
  border: 0;
  background: #606060ff;
}
aside > ul {
  padding: 30px 10px 0;
  flex: 1;
}
aside > ul > li {
  position: relative;
  width: 100%;
  height: 20px;
  margin: 0 0 20px;
}
aside > ul > li > a {
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  font: 600 18px noto-sans-sc;
  color: #a0a0a0ff;
}
